body{
    background: #f4fbfb;
    font-size: 14px;    
    -webkit-font-smoothing: antialiased !important;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    margin-top: 0.5%;
}
.Title{
    color: #f4fbfb;
    text-align: center; 
    text-transform: uppercase;
    padding: 2px;
}
.card{
    height: 22rem;
}
.iconbk{
    width: auto;
    height: 9rem;
    text-align: center;
    color:#f4fbfb;
    padding-top: 5%;
}
.card-body{
    text-align: center;
}
.card-title{
    font-weight: bold;
}
.card-title{
    width: 100%;
    float: left;
    height: 3rem;
}
.card-text{
    width:  100%;
    float: left;
    height: 3rem;
}
.btn{
    width:  100%;
    float: left;
    background-color: #77CE4C;
    color: #f4fbfb;
}
.btn:hover{
    border: 1px solid #469B1C;
}